h1 {
    float: left;
}

.navy {
    float: right;
}

.info_title {
    clear: both;
    border-bottom: 8px solid #4aaa4a;
}

img {
    float: left;
    margin-right: 1em;
}

p {
    text-align: justify;
    }
