h1 {
    color: white;
    padding: 5px;
    text-align: left;  
}

h2 {
    color: #4aaaa5;
    border-bottom: 8px solid #777777;
    text-align: center;
}

footer {
    background-color: #777777;
    border-top: 5px solid #4aaaa5;
    text-align: center;
}

body {
    background-image: url(img/white-waves.png);
    text-align: justify;
}

.header {
    background-color: white;
}

h1 span {
    background-color: #4aaaa5;
    padding: 1% 2%;
}

p {
    padding-right: 4%
}

.nav-link {
    color: #777777;
}

.nav {
    float: right;
}

form {
    margin: 5%;
}

.btn {
    margin-top: 5%
}

.card {
    padding: 5%;
    margin: 5% 0;
}

h3, .card-body {
    width: fluid;
}






